
<div class="card">
  <div class="card-header">
    <strong>Add New</strong> User
  </div>
  <div class="card-body card-block">
    {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

      
      {# Cin #}
      <div class="row form-group">
        <div class="col col-md-2">
        Cin
          
        </div>
        <div class="col-12 col-md-9">
          {{ form_widget(form.cin, {'attr': {'class': 'form-control', 'placeholder': 'Enter cin'}}) }}
          {{ form_errors(form.cin,{'attr':{'class':'text-danger'}}) }}
          <small class="form-text text-muted">Cin must contain 8 digits</small>
        </div>
      </div>

      {# First name #}
      <div class="row form-group">
        <div class="col col-md-2">
        First name
          
        </div>
        <div class="col-12 col-md-9">
          {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Enter First name'}}) }}
          {{ form_errors(form.firstname,{'attr':{'class':'text-danger'}}) }}
          
        </div>
      </div>
     
{# Last name #}
      <div class="row form-group">
        <div class="col col-md-2">
         Last name
        </div>
        <div class="col-12 col-md-9">
          {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Enter Last name'}}) }}
          {{ form_errors(form.lastname,{'attr':{'class':'text-danger'}}) }}
          
        </div>
      </div>
      {# Email #}
       <div class="row form-group">
        <div class="col col-md-2">
        Email
        </div>
        <div class="col-12 col-md-9">
          {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter Email'}}) }}
          {{ form_errors(form.email,{'attr':{'class':'text-danger'}}) }}
          <small class="form-text text-muted">Please enter a valid email!</small>
        </div>
      </div>
      {# Password #}
      <div class="row form-group">
        <div class="col col-md-2">
        Password
        </div>
        <div class="col-12 col-md-9">
          {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Enter Password'}}) }}
          {{ form_errors(form.password,{'attr':{'class':'text-danger'}}) }}
          <small class="form-text text-muted">Please enter a complex password</small>
        </div>
      </div>

    
      {# Address #}
      <div class="row form-group">
        <div class="col col-md-2">
        Address
        </div>
<div class="col-12 col-md-9">
{{ form_widget(form.address, {'attr': {'class': 'form-control', 'placeholder': 'Enter Address'}}) }}
{{ form_errors(form.address,{'attr':{'class':'text-danger'}}) }}

</div>
</div>
{# Phone #}
  <div class="row form-group">
    <div class="col col-md-2">
    Phone Number
      
    </div>
    <div class="col-12 col-md-9">
      {{ form_widget(form.phoneNum, {'attr': {'class': 'form-control', 'placeholder': 'Enter Phone'}}) }}
      {{ form_errors(form.phoneNum,{'attr':{'class':'text-danger'}}) }}
      <small class="form-text text-muted">Phone number must contain 8 digits</small>
    </div>
  </div>
  {# birth date #}
  <div class="row form-group">
        <div class="col col-md-2">
        Birth Date
    </div>
    <div class="col-12 col-md-9">
        {{ form_widget(form.birthDate, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.birthDate,{'attr':{'class':'text-danger'}}) }}
    </div>
 </div>
{# role #}
  <div class="row form-group">
  <div class="col col-md-2">
  Role
    
  </div>
  <div class="col-12 col-md-9">
    {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
     {{ form_errors(form.role,{'attr':{'class':'text-danger'}}) }}
    
  </div>
</div>
{# Gender #}
  <div class="row form-group">
        <div class="col col-md-2">
        Gender
        </div>
    <div class="col-12 col-md-9">
        {{ form_widget(form.gender) }}
         {{ form_errors(form.gender,{'attr':{'class':'text-danger'}}) }}
    </div>
 </div>

  <div class="card-footer">
    <button type="submit" class="btn btn-success btn-sm">
      <i class="fa fa-check-square-o"></i> {{ button_label|default('Submit') }} 
    </button>
    <button type="reset" class="btn btn-danger btn-sm">
      <i class="fa fa-refresh"></i> Reset
    </button>
  </div>

{{ form_end(form) }}
</div>
</div>
