{% extends 'base.html.twig' %}

{% block stylesheets %}
        <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .hero .info .btn-get-started {
    font-family: var(--font-primary) !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    display: inline-block !important;
    padding: 12px 40px !important; 
    border-radius: 50px !important;
    transition: 0.5s !important;
    margin: 10px !important;
    color: #fff !important;
    border: 2px solid var(--color-primary) !important;
}
.circle {
			width: 70px !important;
			height: 70px !important;
			border-radius: 50%;
      background-color: #BD2A2E !important;
			position: relative !important;
      top: 30px !important;
      left: 250px !important;
      border: 2px solid var(#BD2A2E);
			color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transform: translateY(-50%);
		}

		.circle-name {
			font-size: 10px;
			position: relative !important;
      top: 2px !important;
      left: 1px !important;
		}
    .user-name {
      font-size: 20px;
      color: #BD2A2E;
			position: relative !important;
      top: 2px !important;
      left: 230px !important;
    }
		.options {
			position: fixed;
			top: 155px !important;
			right: 20px !important;
			transform: translateY(-50%);
			background-color: #000000;
      border-radius: 10% !important;
			box-shadow: 0 4px 6px rgba(0,0,0,.1);
			padding: 10px;
			display: none;
		}

		.option {
			margin-bottom: 10px;
			cursor: pointer;
		}

		.option:hover {
			color: #BD2A2E;
		}
    .card-item {
  border: 1px solid rgba(82, 86, 94, 0.2);
  background: #bebebe;
  width: 1500px !important;
	height: 1200px !important;
  position: relative;
  right: 70px !important;
  border-radius: 0;
}
.color-text-table{
  color: #333333;
}
body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #dfdfdf;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 50%;
    height: 50%;
}
.profile-img .file {
    position: relative;
    bottom: 120px;
    right: 0.5px;
    overflow: hidden;
    margin-top: 20%;
    width: 50%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #BD2A2E;
}
.profile-edit-btn{
    border: none;
    background:#BD2A2E;
    border-radius: 1.5rem;
    width: 90%;
    padding: 2%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.profile-edit-btn:hover{
  background: #333333;
    
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    color: #BD2A2E;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #BD2A2E;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
    position: relative;
    left: 50px;
    bottom: 50px;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work a:hover{
    color: #BD2A2E;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #BD2A2E;
}
.profile-tab {
  position: relative;
  bottom: 200px;
}
.fieldset {
			border: none;
      
		}

		.hide {
			display: none;
		}
</style>

		
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		function toggleOptions() {
			var options = document.getElementById('options');
			if (options.style.display === 'none') {
				options.style.display = 'block';
			} else {
				options.style.display = 'none';
			}
		}
	</script>
           <link href="{{asset('Front/assets/img/logo-digitart-rouge.png')}}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
 
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('Front/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('Front/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{asset('Front/assets/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{asset('Front/assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{asset('Front/assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{asset('Front/assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('Front/assets/css/main.css')}}" rel="stylesheet">
        {% endblock %}
 {% block navbar %}
        
          <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{ path('showfrontpage') }}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{{asset('Front/assets/img/logo digitart.png')}}" alt=""> 
        
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="{{path('showfrontpage')}}">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        {% if app.user is not null %}

        {% if app.user.role == 'Subscriber' or app.user.role == 'Artist' %}
         <strong class="user-name">  {{app.user.firstname}}   {{app.user.lastname}} </strong>
         <div class="circle" onclick="toggleOptions()">
         {% if app.user.image is not null %}
		    <img class="user-avatar rounded-circle" src="{{ asset('/uploads/' ~ app.user.image) }}" alt="Image" width="60">
        {% else %}
        <img class="user-avatar rounded-circle" src="{{ asset('Back/images/icon-img.png') }}" alt="Image" width="60">
         {% endif %}
	</div>
	<div class="options" id="options">
		<a class="nav-link" href="{{path('app_users_profilefront', {'id': app.user.id}) }}"><div class="option"><i class="fa fa-user"></i> My profile</div></a>
		<a class="nav-link" href="{{path('app_logout')}}"><div class="option"><i class="fa fa-power-off"></i>  Logout</div></a>
	</div>
  {% endif %} 

  {% endif %} 
      </nav><!-- .navbar -->


    </div>
    {% if app.user is null %}
     <a href="{{path('app_login')}}"><button class="login100-form-btn"><i class="fa fa-sign-in" aria-hidden="true"></i>   Login</button></a>
    {% endif %}
           
  </header><!-- End Header -->
  
  {% endblock %}

  {% block body %}

<div class="breadcrumbs d-flex align-items-center" style="background-image: url({{asset('Front/assets/img/footer.jpg')}});">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Your Profile</h2>
        <ol>
          <li><a href="{{ path('showfrontpage') }}">Home</a></li>

        </ol>

      </div>
    </div><!-- End Breadcrumbs -->
<!-- ======= Constructions Section ======= -->
    <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Personnal Informations</h2>
          <p>here you can edit your profile</p>
        </div>

        <div class="container emp-profile">
        <fieldset id="step1" class="fieldset">   
              <div class="row">
                <div class="col-md-4">
                        <div class="profile-img">
                         {% if app.user.image is not null %}
                            <img src="{{ asset('/uploads/' ~ app.user.image) }}" alt="Image" width="30">
                          {% else %}
                        <img class="user-avatar" src="{{ asset('Back/images/icon-profile.png') }}" alt="Image" width="30">
                         {% endif %}

                            <div class="file btn btn-lg btn-danger">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                 </div>
                     <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                      <strong>  {{ app.user.firstname }} {{ app.user.lastname }} </strong>
                                    </h5>
                                    <h6>
                                        {{ app.user.role }}
                                    </h6>
                                    <p class="proile-rating">  </br>    <span>    </span></p>
                        </div>
                     </div>
                    <div class="col-md-2">
                    <a href="">
                    <button id="edit1" class="profile-edit-btn">Edit Profile</button>
                     </a>
                    </div>
                </div>
                  <div class="row">
                   <div class="col-md-4">
                        <div class="profile-work">

                            <p>SETTINGS</p>
                            <a href="">Logout</a><br/>
                            <a href="">Delete Account</a><br/>
                            <a href="">Change Password</a><br/>
                            <a href="">Return Home</a><br/>
                           
                        </div>
                    </div>
                   <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><div class="color-text-table">Cin</div></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ app.user.cin }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><div class="color-text-table">Firstname</div></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ app.user.firstname }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><div class="color-text-table">Lastname</div></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ app.user.lastname }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><div class="color-text-table">Email</div></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ app.user.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><div class="color-text-table">Address</div></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ app.user.address }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><div class="color-text-table">PhoneNum</div></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ app.user.phoneNum }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><div class="color-text-table">BirthDate</div></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ app.user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><div class="color-text-table">Gender</div></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ app.user.gender }}</p>
                                            </div>
                                        </div>
                                       
                            </div>
                            
                                     
                  </div>
                </div>
              </div>
              </fieldset>
              <fieldset id="step2" class="fieldset hide"> 
              <div class="row">
               <div class="col-md-4">
                        <div class="profile-img">
                         {% if app.user.image is not null %}
                            <img src="{{ asset('/uploads/' ~ app.user.image) }}" alt="Image" width="30">
                          {% else %}
                        <img class="user-avatar" src="{{ asset('Back/images/icon-profile.png') }}" alt="Image" width="30">
                         {% endif %}

                            <div class="file btn btn-lg btn-danger">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                 </div>
                     <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                      <strong>  {{ app.user.firstname }} {{ app.user.lastname }} </strong>
                                    </h5>
                                    <h6>
                                        {{ app.user.role }}
                                    </h6>
                                    <p class="proile-rating">  </br>    <span>    </span></p>
                        </div>
                     </div>
                    <div class="col-md-2">
                    <a href="">
                    <button id="prev1" class="profile-edit-btn">Return</button>
                     </a>
                    </div>
                </div>
                  <div class="row">
                   <div class="col-md-4">
                        <div class="profile-work">

                            <p>SETTINGS</p>
                            <a href="">Logout</a><br/>
                            <a href="">Delete Account</a><br/>
                            <a href="">Change Password</a><br/>
                            <a href="">Return Home</a><br/>
                           
                        </div>
                    </div>
                   <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                             {{ form_start(form,{attr:{'novalidate':'novalidate'}}) }}

      
      {# Cin #}
      <div class="row form-group">
        <div class="col col-md-2">
        <div class="color-text-table">{{ form_label(form.cin, 'Cin') }}</div>
          
        </div>
        <div class="col-12 col-md-9">
          {{ form_widget(form.cin, {'attr': {'class': 'form-control', 'placeholder': 'Enter cin'}}) }}
          {{ form_errors(form.cin) }}
          <small class="form-text text-muted">Cin must contain 8 digits</small>
        </div>
      </div>

      {# First name #}
      <div class="row form-group">
        <div class="col col-md-2">
        <div class="color-text-table">{{ form_label(form.firstname, 'First name') }}</div>
          
        </div>
        <div class="col-12 col-md-9">
          {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Enter First name'}}) }}
          {{ form_errors(form.firstname) }}
          <small class="form-text text-muted">Text</small>
        </div>
      </div>
     
{# Last name #}
      <div class="row form-group">
        <div class="col col-md-2">
        <div class="color-text-table">{{ form_label(form.lastname, 'Last name') }}</div>
        </div>
        <div class="col-12 col-md-9">
          {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Enter Last name'}}) }}
          {{ form_errors(form.lastname) }}
          <small class="form-text text-muted">Text</small>
        </div>
      </div>
{# Email #}
       <div class="row form-group">
        <div class="col col-md-2">
        <div class="color-text-table">{{ form_label(form.email, 'Email') }}</div>
        </div>
        <div class="col-12 col-md-9">
          {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter Email'}}) }}
          {{ form_errors(form.email) }}
          <small class="form-text text-muted">Please enter a valid email!</small>
        </div>
      </div>

      {# Address #}
      <div class="row form-group">
        <div class="col col-md-2">
      <div class="color-text-table">{{ form_label(form.address, 'Address') }}</div>
        </div>
<div class="col-12 col-md-9">
{{ form_widget(form.address, {'attr': {'class': 'form-control', 'placeholder': 'Enter Address'}}) }}
{{ form_errors(form.address) }}
<small class="form-text text-muted">Text</small>
</div>
</div>
{# Phone #}
  <div class="row form-group">
    <div class="col col-md-2">
    <div class="color-text-table">{{ form_label(form.phoneNum, 'Phone Number') }}</div>
      
    </div>
    <div class="col-12 col-md-9">
      {{ form_widget(form.phoneNum, {'attr': {'class': 'form-control', 'placeholder': 'Enter Phone'}}) }}
      {{ form_errors(form.phoneNum) }}
      <small class="form-text text-muted">Phone number must contain 8 digits</small>
    </div>
  </div>
  {# birth date #}
  <div class="row form-group">
        <div class="col col-md-2">
        <div class="color-text-table">{{ form_label(form.birthDate, 'Birth Date') }}</div>
    </div>
    <div class="col-12 col-md-9">
        {{ form_widget(form.birthDate, {'attr': {'class': 'form-control'}}) }}
    </div>
 </div>
{# Gender #}
<div class="row form-group">
  <div class="col col-md-2">
    <div class="color-text-table">{{ form_label(form.gender, 'Gender') }}</div>
  </div>
  <div class="col-12 col-md-9">
    {{ form_widget(form.gender, {
        'attr': {'class': 'form-control'},
        'value': user.gender|default('male')
    }) }}
  </div>
</div>








      
    <button type="submit" class="btn btn-success btn-sm">
      <i class="fa fa-chevron-circle-down"></i> {{ button_label|default('Submit') }} 
    </button>
    <button type="reset" class="btn btn-danger btn-sm">
      <i class="fa fa-ban"></i> Reset
    </button>


  </div>

{{ form_end(form) }}
                            
                                     
                  </div>
                </div>
              </div>
              </fieldset>
            </div>
      </div>
    </section><!-- End Constructions Section -->

          <script>
  

const edit1 = document.querySelector("#edit1");
const prev1 = document.querySelector("#prev1");
const step1 = document.querySelector("#step1");
const step2 = document.querySelector("#step2");

edit1.addEventListener("click", function(event) {
	event.preventDefault();
	step1.classList.add("hide");
	step2.classList.remove("hide");
});

prev1.addEventListener("click", function(event) {
	event.preventDefault();
	step2.classList.add("hide");
	step1.classList.remove("hide");
});

   </script>

  {% endblock %}