{% extends 'back.html.twig' %}

{% block title %}My Profile{% endblock %}
{% block stylesheets %}
            
        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="favicon.ico">

        <link rel="stylesheet" href="{{asset('Back/vendors/bootstrap/dist/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/font-awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/themify-icons/css/themify-icons.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/flag-icon-css/css/flag-icon.min.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/selectFX/css/cs-skin-elastic.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/jqvmap/dist/jqvmap.min.css')}}">

        <link rel="stylesheet" href="{{asset('Back/assets/css/style.css')}}">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
        <style>
      .widget-content-right {
    position: relative;
    top: 7px;
    right: 15px;
      }
     .color-app{
        color: #BD2A2E;
     }
     .btn {
			background: #BD2A2E !important;
			color: #fff;
			padding: 10px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}

		.btn:hover {
			background: #333333 !important;
		}
     
        </style>
        {% endblock %}
         
{% block javascripts %}
<script src="{{asset('Back/vendors/jquery/dist/jquery.min.js')}}"></script>
        <script src="{{asset('Back/vendors/popper.js/dist/umd/popper.min.js')}}"></script>
        <script src="{{asset('Back/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('Back/assets/js/main.js')}}"></script>

        <script src="{{asset('Back/vendors/chart.js/dist/Chart.bundle.min.js')}}"></script>
        <script src="{{asset('Back/assets/js/dashboard.js')}}"></script>
        <script src="{{asset('Back/assets/js/widgets.js')}}"></script>
        <script src="{{asset('Back/vendors/jqvmap/dist/jquery.vmap.min.js')}}"></script>
        <script src="{{asset('Back/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')}}"></script>
        <script src="{{asset('Back/vendors/jqvmap/dist/maps/jquery.vmap.world.js')}}"></script>
<script src="{{ asset('js/images.js') }}"></script>
<script src="{{ asset('js/delprof.js') }}"></script>
<script src="{{ asset('js/delimg.js') }}"></script>
<script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
                    });
                })(jQuery);
        </script>
{% endblock %}

{% block body %}
    <h1>My Profile</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Cin</th>
                <td>{{ user.cin }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>PhoneNum</th>
                <td>{{ user.phoneNum }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ user.status }}</td>
            </tr>
            <tr>
                <th>Profile Image</th>
                {% if user.image is not null %}
                <td><img src="{{ asset('/uploads/' ~ user.image) }}" alt="Image" width="150"></td>
                {% else %}
                <td>you have no profile image</td>
                {% endif %}
            </tr>
             <tr>
                <th>Your saved images</th>
                {% if user.userImages is null %}
                  <td>there is no saved images</td>
                {% else %}
               {% for image in user.userImages %}
               <td>
                <img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image" width="150">
                </br>
                </br>
                <a href="{{ path('app_user_images_delete', {'id': image.id}) }}">
                <button class="btn btn-outline-danger btn-sm" id="delete-img-btn">
                <i class="fa fa-times-circle"></i>Delete
                </button>
                </a>
               </td>
                {% endfor %}
                {% endif %}
            </tr>
        </tbody>
    </table>
     <div class="card-footer">
      <div class="row">
    <a href="{{ path('showbackpage') }}">
   <button type="button" class="btn mr-2">
    <i class="fa fa-mail-reply (alias)"></i>back to home</button></a>

    <a href="{{ path('app_users_editprof', {'id': app.user.id}) }}">
    <button type="button" class="btn mr-2">
    <i class="fa fa-pencil-square-o"></i>Edit my profile</button></a>

    <a href="#">
   <button type="button" class="btn mr-2">
    <i class="fa fa-repeat"></i>change my password!</button></a>

    <a href="{{ path('app_users_deleteprofile',{'id': app.user.id}) }}">
    <button class="btn" id="delete-btn">
        <i class="fa fa-times-circle"></i>Delete Account
    </button>
</a>

    </div>
    </div>
{% endblock %}


