{% extends 'back.html.twig' %}

{% block title %}Stats of users{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="favicon.ico">

        <link rel="stylesheet" href="{{asset('Back/vendors/bootstrap/dist/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/font-awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/themify-icons/css/themify-icons.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/flag-icon-css/css/flag-icon.min.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/selectFX/css/cs-skin-elastic.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/jqvmap/dist/jqvmap.min.css')}}">

        <link rel="stylesheet" href="{{asset('Back/assets/css/style.css')}}">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
        <style>
      .widget-content-right {
    position: relative;
    top: 7px;
    right: 15px;
      }
     .color-app{
        color: #BD2A2E;
     }
  .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagination li.disabled a,
.pagination li.active a {
  color: #fff;
  background-color: #BD2A2E;
  border-color: #000000;
}

.pagination li.disabled a {
  cursor: not-allowed;
}

     .custom-card {
  width: 80%;
}
.custom-card2 {
  width: 180%;
}
        </style>
        {% endblock %}
{% block body %}


<div class="form-group">
  <div class="col-md-6">
    <div class="card custom-card">
      <div class="card-body">
        <h4 class="mb-3">Gender Stats</h4>
        <div class="flot-container" style="width: 500px; height: 500px;">
          <canvas id="users1" style="width: 40% !important; height: 40% !important; position: relative; right: 30px;"></canvas>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="form-group">
  <div class="col-md-6">
    <div class="card custom-card">
      <div class="card-body">
        <h4 class="mb-3">Roles Stats</h4>
        <div class="flot-container" style="width: 500px; height: 500px;">
          <canvas id="users2" style="width: 30% !important; height: 30% !important;position: relative; right: 30px;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
<div class="col-md-6">
    <div class="card custom-card2">
      <div class="card-body">
        <h4 class="mb-3">Ages Stats</h4>
        <div class="flot-container" style="width: 1200px; height: 500px;">
          <canvas id="users3" style="width: 10% !important; height: 10% !important;position: relative; right: 30px;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}



 {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{asset('Back/vendors/jquery/dist/jquery.min.js')}}"></script>
        <script src="{{asset('Back/vendors/popper.js/dist/umd/popper.min.js')}}"></script>
        <script src="{{asset('Back/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('Back/assets/js/main.js')}}"></script>

        <script src="{{asset('Back/vendors/chart.js/dist/Chart.bundle.min.js')}}"></script>
        <script src="{{asset('Back/assets/js/dashboard.js')}}"></script>
        <script src="{{asset('Back/assets/js/widgets.js')}}"></script>
        <script src="{{asset('Back/vendors/jqvmap/dist/jquery.vmap.min.js')}}"></script>
        <script src="{{asset('Back/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')}}"></script>
        <script src="{{asset('Back/vendors/jqvmap/dist/maps/jquery.vmap.world.js')}}"></script>
        <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
                    });
                })(jQuery);
        </script>      
      <script>
      
window.onload = function() {
  var ctx1 = document.getElementById('users1').getContext('2d');
  var ctx2 = document.getElementById('users2').getContext('2d');
  var ctx3 = document.getElementById('users3').getContext('2d');
  var myChart2 = new Chart(ctx2, {
      type: 'doughnut',
      data: {
          labels: ['Admin', 'Artist', 'Subscriber'],
          datasets: [{
              data: [{{ totalAdmin }},{{ totalArtist }},{{ totalSubscriber }}],
              backgroundColor: [
                'red',
                  'green',
                  'blue',
              ],
          }]
      },
      options: {
          // Customize the appearance of the pie chart
      }
  });
  var myChart1 = new Chart(ctx1, {
      type: 'pie',
      data: {
          labels: ['Male', 'Female'],
          datasets: [{
              data: [{{ totalMale }},{{ totalFemale }}],
              backgroundColor: [
                'rgba(54, 162, 235, 0.7)',
                  'rgba(255, 99, 132, 0.7)',
              ],
          }]
      },
      options: {
          // Customize the appearance of the pie chart
      }
  });
  var myChart1 = new Chart(ctx3, {
      type: 'line',
      data: {
          labels: ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89', '90+'],
        datasets: [{
            label: 'Number of users by age range',
            data: {{ ageRanges|json_encode() }},
            
          }]
      },
      options: {
          // Customize the appearance of the pie chart
      }
  });
}
</script>
 


        {% endblock %}