{{ form_start(form) }}
    <div class="label">
        {{ form_label(form.startingPrice) }}
        {{ form_widget(form.startingPrice, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.startingPrice) }}
    </div>
    <div class="form-group">
        {{ form_label(form.increment) }}
        {{ form_widget(form.increment, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.increment) }}
    </div>
    <div class="form-group">
        {{ form_label(form.endingDate) }}
        {{ form_widget(form.endingDate, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.endingDate) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="form-group">
    
        {{ form_label(form.artwork) }}
        {{ form_widget(form.artwork, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.artwork) }}
    </div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


