{% extends 'base.html.twig' %}

{% block title %}Auction index
{% endblock %}

{% block homeActive %}{% endblock %}
{% block auctionActive %}
	class="active"
{% endblock %}


{% block body %}
<!--
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<form id="my-form">
  <input type="hidden" id="auctions-input" name="auctions" value="" />
  <input type="hidden" id="highestBids-input" name="highestBids" value="" />
  <input type="hidden" id="pageParam-input" name="pageParam" value="" />
  <input type="hidden" id="imageArtwork-input" name="imageArtwork" value="" />
</form>
-->

<script>
  $(document).ready(function() {
    setInterval(function() {
      $.ajax({
        url: "/auction/home",
        type: 'GET',
        success: function(response) {
          var auctions = response.html.auctions;
          var highestBids = response.html.highestBids;
          var pageParam = response.html.pageParam;
          var imageArtwork = response.html.imageArtwork;

          // Update the relevant parts of the page
          $('#auctions').html(auctions);
          $('#auctions-input').val(auctions);
          $('#highest-bids').html(highestBids);
          $('#page-param').html(pageParam);
          $('#image-artwork').html(imageArtwork);
        },
        error: function() {
          console.log("Error");
        }
      });
    }, 5000);
  });
</script>

<!-- Update the HTML with the values -->
<div id="auctions"></div>
<div id="highest-bids"></div>
<div id="page-param"></div>
<div id="image-artwork"></div>









	{% set articlesPerPage = 15 %}
	{% set page = pageParam|default(1) %}
	{% set offset = (page - 1) * articlesPerPage %}
	{% set pages = (auctions|length / articlesPerPage)|round(0, 'ceil') %}

	{% set auctions = auctions|slice(offset, articlesPerPage) %}
	<!-- ======= Breadcrumbs ======= -->
	<div class="breadcrumbs d-flex align-items-center" style="background-image: url({{asset('Front/assets/img/breadcrumbs-bg.jpg')}});">
		<div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
			<h2>AUCTION</h2>
		</div>
	</div>
	<!-- End Breadcrumbs -->



	<section id="blog" class="blog">
			<div class="container" data-aos="fade-up" data-aos-delay="100">
			<div id="auction-list" class="row gy-4 posts-list">
				{% for auction in auctions %}
					<div class="col-xl-4 col-md-6">
						<div class="post-item position-relative h-100">
							<div class="post-img position-relative overflow-hidden">
								{% if imageArtwork[ auction.idAuction ]|length != 0%}
                  		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    	<div class="carousel-inner">
                      {% for image in imageArtwork[ auction.idAuction ] %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                          <img src="{{ asset('/uploads/'~image.ImageName) }}" class="d-block w-100" style="width: 400px; height: 300px;" alt="">
                        </div>
                      {% endfor %}
                 		   </div>
                			  </div>
               				 {% else %}
                      <img  src="{{ asset('/uploads/noimage.jpg') }}"  class="d-block w-100" style="width: 400px; height: 300px;" alt="">
               				 {% endif %}
								{% if auction.endingDate %}
									{% set endingDate = auction.endingDate|date('Y-m-d H:i:s') %}
									<span id="timer_{{auction.idAuction}}" class="post-date"></span>
									<script>
										updateTimer("{{ endingDate }}", "timer_{{ auction.idAuction }}");
									</script>
								{% else %}
									<span class="post-date">Auction has no ending date.</span>
								{% endif %}
							</div>
							<div class="post-content d-flex flex-column">
								<h3 class="post-title">{{ auction.artwork.artworkName }}</h3>
								<div class="meta d-flex align-items-center">
									<div class="d-flex align-items-center">
										<i class="bi bi-person"></i>
										<span class="ps-2">
											{{auction.artwork.idArtist.lastname|upper}}
											{{auction.artwork.idArtist.firstname|upper}}
										</span>
									</div>
									<span class="px-3 text-black-50">/</span>
									<div class="d-flex align-items-center">
										<i class="bi bi-cash"></i>
										<span class="ps-2">{{ highestBids[auction.idAuction] is not null ? highestBids[auction.idAuction] : 'none' }}</span>
									</div>

								</div>

								<p>
									{{ auction.description|slice(0, 50) }}{{ (auction.description|length > 50 ? '...' : '') }}
								</p>


								<hr>

								<a href="{{ path('app_auction_show', {'id_auction': auction.idAuction}) }}" class="readmore stretched-link">
									<span>Read More</span>
									<i class="bi bi-arrow-right"></i>
								</a>

							</div>

						</div>
					</div>
				{% endfor %}


			</div>

			<div class="blog-pagination">
				<ul class="justify-content-center">
					<li>
					{% if page == 1 %}
						<a class="justify-content-center">Previous</a>
					{% else %}
						<a href="{{ path('displayAUCTION', {'page': page - 1 }) }}" >Previous</a>	
					{% endif %}
							</li>

					{% for p in range(1, pages) %}
						{% if p == page %}
							<li class="active">
								<a href="#">{{p}}</a>
							</li>
						{% else %}
							<li>
								<a href="{{ path('displayAUCTION', {'page': p}) }}">{{p}}</a>
							</li>
						{% endif %}
					{% endfor %}
					<li>
					{% if page == pages %}
						<a  class="justify-content-center">Next</a>
					{% else %}
						<a href="{{ path('displayAUCTION', {'page': page + 1}) }}" >Next</a>
					{% endif %}
							</li>

				</ul>
			</div>

		</div>
	</section>

{% endblock %}


