{% extends 'base.html.twig' %}

{% block title %}Auction
{% endblock %}

{% block homeActive %}{% endblock %}
{% block auctionActive %}
	class="active"
{% endblock %}

{% block BID_CONDITION %}
<style>
.sidebar {
  width: 400px;
}
</style>
	<script>
		function validateBid() {
var bidInput = document.getElementById('bid_offer');
var bidValue = parseInt(bidInput.value);


// Check if bid is at least the starting price

if (bidValue < {{ auction.startingPrice }}) {
alert('Bid must exceed the starting price !!');
return false;
}
var bid;{% if highestBid is not null %}bid = {{ highestBid }};
{% else %}bid = {{ auction.startingPrice }}
{% endif %}

// Check if bid is at least the current highest bid + increment
if (bidValue < {{ highestBid is not null ? highestBid + auction.increment : auction.startingPrice }}) {
alert('Bid must surpass the highest offer ' + bid + '$ by ' + {{ auction.increment }} + '$');
return false;
}

// All checks passed, submit the form
return true;
}
	</script>
{% endblock %}

{% block body %}

	<!-- ======= Breadcrumbs ======= -->
	{% if auction.idAuction in imageArtwork %}
		<div class="breadcrumbs d-flex align-items-center" style="background-image: url({{ asset('/uploads/'~imageArtwork[auction.idAuction][0].ImageName) }});">
		{% else %}
			<div class="breadcrumbs d-flex align-items-center" style="background-image: url( {{ asset('/uploads/bc53385fe56f95467c51bbcb40b16412.jpg') }});">
			{% endif %}
			<div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
				<h2>{{auction.artwork.artworkName|upper}}</h2>
				<ol>
					<li>
						<a href="{{path('showdigit')}}">Home</a>
					</li>
					<li>
						<a href="{{path('displayAUCTION')}}">Auction</a>
					</li>
					<li>
						<b>{{auction.artwork.artworkName|upper}}
							details</li>
					</li>
				</ol>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		<section id="blog" class="blog">
			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="row g-5">

					<div class="col-lg-8">

						<article class="blog-details">

							<div class="post-img">
								{% if imageArtwork[ auction.idAuction ]|length != 0 %}
									<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
										<div class="carousel-inner">
											{% for image in imageArtwork[ auction.idAuction ] %}
												<div class="carousel-item {% if loop.first %}active{% endif %}">
													<img src="{{ asset('/uploads/'~image.ImageName) }}" class="d-block w-100" style="width: 400px; height: 300px;" alt="">
												</div>
											{% endfor %}
										</div>
									</div>
								{% else %}
									<img src="{{ asset('/uploads/noimage.jpg') }}" class="d-block w-100" style="width: 400px; height: 300px;" alt="">
								{% endif %}
							</div>


							<div class="meta-top">
								<ul>
									<li class="d-flex align-items-center">
										<i class="bi bi-person"></i>
										{{auction.artwork.idArtist.lastname|upper}}
										{{auction.artwork.idArtist.firstname|upper}}
									</li>
									<li class="d-flex align-items-center">
										<i class="bi bi-clock"></i>
										<a>
											{% if auction.endingDate %}
												{% set endingDate = auction.endingDate|date('Y-m-d H:i:s') %}
												<span id="timer_{{auction.idAuction}}" class="post-date"></span>
												<script>
													updateTimer("{{ endingDate }}", "timer_{{ auction.idAuction }}");
												</script>
											{% else %}
												<span class="post-date">Auction has no ending date.</span>
											{% endif %}
										</a>
									</li>
									<li class="d-flex align-items-center">
										<i class="bi bi-people"></i>
										<a>{{countBids}}</a>
									</li>
									<li class="d-flex align-items-center">
										<i class="bi bi-cash"></i>
										<span class="ps-2">{{ highestBid is not null ? highestBid ~ '$' : 'none' }}</span>

									</li>
								</ul>
							</div>
							<!-- End meta top -->

							<div class="content">
								<p>
									<td>{{ auction.description }}</td>
								</p>
							</div>
						</article>
					</div>
					<div class="col-lg-4">
						<!-- start sidebar -->
						<!-- start sidebar search formn-->
							<div class="sidebar"> <div class="sidebar-item search-form">
								<div class="meta-top">
									<a>The starting Price :
									</a>
									<br>
									<br>


									{% if app.user is not null and  app.user.id == highestBidder %}
										<a style="color: green;">You are the highest bidder with:
										</a>
										<a>{{ highestBid is not null ? highestBid ~ '$' : 'none' }}</a>

									{% else %}
										<a>The Highest Offer :
											{{ highestBid is not null ? highestBid ~ '$' : 'none' }}
										</a>
									{% endif %}
									<a id="search_link" class="search_link">
										<a>
											<br><br>
											{% if highestBid is not null %}
												<a>
													Change the currency to:
												</a>
												<select id="symbolComboBox"></select>
											{% endif %}

											<br>
											<br>

											<a>Number of Bids :
												{{countBids}}
											</a>

										</div>
										<br>
										{% if app.user is not null %}
											<h2 class="sidebar-title">Make An Offer :
											</h2>

											{{ form_start(form,{attr:{novalidate:'novalidate'}}, {'attr': {'class': 'mt-3', 'onsubmit': 'return validateBid();'}})}}

											{{ form_widget(form.offer, {'attr': {'value': highestBid is not null ? highestBid + auction.increment : auction.startingPrice ,
							'pattern': '[0-9]*' , 'inputmode' : 'numeric','min': highestBid is not null ? highestBid + auction.increment : auction.startingPrice}
							}) }}
							{{ form_errors(form.offer) }}
											<button type="submit">
												<i class="bi bi-credit-card">{{ button_label|default('') }}</i>
											</button>
											{{ form_end(form)  }}
										{% else %}
											<h4>
												Login to be able to join the auction
											</h4>
										{% endif %}


									</div>
									<!-- End sidebar search formn-->

								</div>
								<!-- End Blog Sidebar -->

							</div>
						</div>
					</div>
				</section>


				<script>

					var myHeaders = new Headers();
myHeaders.append("apikey", "90bvVgraQiEn2QC6KuN8OOayRnaSqbIx");

var requestOptions = {
method: 'GET',
redirect: 'follow',
headers: myHeaders
};

fetch("https://api.apilayer.com/fixer/symbols", requestOptions).then(response => response.json()).then(result => { // get reference to combo box element
const comboBox = document.getElementById("symbolComboBox");

// loop through symbols and create option elements
Object.keys(result.symbols).forEach(symbol => {
const option = document.createElement("option");
const currencyShortName = symbol;
option.value = currencyShortName;
option.text = currencyShortName;
comboBox.add(option);
});
comboBox.value = "USD"; // Set default selected value to USD

}).catch(error => console.log('error', error));
				</script>


				<script>
					symbolComboBox.addEventListener("change", handleCurrencyChange);

function handleCurrencyChange() {
const selectedCurrency = symbolComboBox.value;
const amount = {{ highestBid }}; // assuming `highestBid` contains the amount in USD
const url = `https://api.apilayer.com/fixer/convert?from=USD&to=${selectedCurrency}&amount=${amount}`;
const requestOptions = {
method: 'GET',
redirect: 'follow',
headers: {
"apikey": "90bvVgraQiEn2QC6KuN8OOayRnaSqbIx"
}
};

fetch(url, requestOptions).then(response => response.json()).then(result => {
const convertedAmount = Math.round(result.result);
// approximate the converted amount to an integer
// do something with the converted amount, e.g. display it on the page
document.getElementById("search_link").textContent = `(≈ ${convertedAmount} ${selectedCurrency})`;
console.log(`${amount} USD is equivalent to ${convertedAmount} ${selectedCurrency}`);
}).catch(error => console.log('error', error));
}
				</script>
			{% endblock %}
