<div class=""><div class="aHl"></div><div id=":qx" tabindex="-1"></div><div id=":qj" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc2MTAxNzA5MTE1NjQ5OTI0OCIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc2MTAxNzA5MTE1NjQ5OTI0OCIsbnVsbCxbXV0."><div id=":qk" class="a3s aiL "><div class="adM">

    

</div><div style="background-color:#010101;text-align:center"><div class="adM">
    
    </div><table style="width:560px;border:none;margin:0 auto 0 auto;text-align:left" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td style="height:25px;background-color:#000000;padding:0 0 0 3px;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:9px;color:#ffffff">
<span class="il">Digitart ticket confirmation</span>
            </td>
        </tr>
        <tr>
            <td style="background-color:#ffffff">
                <table cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td style="padding:22px 22px 12px 22px;text-align:center" width="544">
                            <div style="background-color:#010101">
                                <img id="m_-1281796299061437072banner" src="https://cdn.discordapp.com/attachments/1095078227573219358/1101220396486885376/header.png"  style="max-width:544px" class="CToWUd" data-bit="iit">
                            </div>                            
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0 22px 30px 22px;text-align:center">
                            <table cellpadding="0" cellspacing="0">
                                <tbody><tr>
                                    <td style="padding:23px 14px 23px 14px;background-color:#ededed;width:516px">
                                        <table cellpadding="0" cellspacing="0">
                                            <tbody><tr>
                                                <td style="font-family:Tahoma,Verdana,Segoe,sans-serif;font-size:19px;line-height:29px;background-color:#ededed;color:#3b3b3b;padding:0 0 34px 0">
                                            Hi {{userFirstName}} {{userLastName}}, thanks for your purchase.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family:Tahoma,Verdana,Segoe,sans-serif;font-size:14px;line-height:23px;background-color:#ededed;color:#3b3b3b">
                                                    This email is the confirmation of your ticket reservation.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family:Tahoma,Verdana,Segoe,sans-serif;font-size:14px;line-height:23px;background-color:#ededed;color:#3b3b3b">
                                                    Enjoy your Tour !
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0 36px 0 36px;text-align:center">
                            <table>
                                <tbody><tr>
                                    <td style="padding:25px 14px 14px 14px;border:solid 1px #000000">
                                        <table cellpadding="0" cellspacing="0">
                                            <tbody><tr>
                                                <td style="font-family:Tahoma,Verdana,Segoe,sans-serif;font-size:21px;font-weight:bold;line-height:23px;text-transform:uppercase;padding:0 7px 8px 0;color:#BD2A2E">
                                                    Purchase Summary
                                                </td>
                                            </tr>

                                                <tr>
                                                    <td style="font-weight:bold;font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:23px;background-color:#ededed;color:#3b3b3b;padding:16px 7px 0 7px;width:458px" colspan="3">
                                                    Digitart's museum Tickets
                                                    </td>
                                                </tr>
                                               <tr>
                                                    <td style="padding:0 7px 0 7px;background-color:#ededed" colspan="3">
                                                        <table style="border:none;margin:0 0 0 0;background-color:#ededed" cellpadding="0" cellspacing="0">
                                                            <tbody><tr>
                                                                <td style="font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:23px;color:#3b3b3b;padding:0 7px 0 0;vertical-align:text-top">
                                                                    Student:
                                                                </td>
                                                                <td style="font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:23px;color:#3b3b3b;vertical-align:text-top">

                                                                   {{total_nb_student}} tickets
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0 7px 0 7px;background-color:#ededed" colspan="3">
                                                        <table style="border:none;margin:0 0 0 0;background-color:#ededed" cellpadding="0" cellspacing="0">
                                                            <tbody><tr>
                                                                <td style="font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:23px;color:#3b3b3b;padding:0 7px 0 0;vertical-align:text-top">
                                                                    Teenager:
                                                                </td>
                                                                <td style="font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:23px;color:#3b3b3b;vertical-align:text-top">

                                                                   {{total_nb_teenager}} tickets
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                                      <tr>
                                                    <td style="padding:0 7px 0 7px;background-color:#ededed" colspan="3">
                                                        <table style="border:none;margin:0 0 0 0;background-color:#ededed" cellpadding="0" cellspacing="0">
                                                            <tbody><tr>
                                                                <td style="font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:23px;color:#3b3b3b;padding:0 7px 0 0;vertical-align:text-top">
                                                                    Adult:
                                                                </td>
                                                                <td style="font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:23px;color:#3b3b3b;vertical-align:text-top">

                                                                   {{total_nb_adult}} tickets
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:23px;background-color:#ededed;color:#3b3b3b;padding:0 7px 0 7px;vertical-align:text-top" colspan="3">
                                                Date: {{lastUpdatedAt}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:23px;background-color:#ededed;color:#3b3b3b;padding:0 7px 0 7px;vertical-align:text-top" colspan="3">
                                                Hour: {{time}}
                                                    </td>
                                                </tr>

                                            <tr>
                                                <td style="border-bottom:solid 1px #000000" colspan="3"></td>
                                            </tr>
                                                                                                                                    <tr>
                                                <td style="font-weight:bold;font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:23px;background-color:#ededed;color:#3b3b3b;padding:0 7px 14px 7px;vertical-align:text-top">
                                                    Total price: $ {{total_payment}}
                                                </td>
                                                <td style="font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:23px;background-color:#ededed;color:#3b3b3b;padding:0 7px 0 0;text-align:right;vertical-align:text-top" colspan="2">
                                                    
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>

                            </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width:100%">
                                <tbody><tr>
                                    <td style="font-weight:bold;font-size:12px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:20px;color:#3b3b3b;padding:30px 36px 0 36px">
                                        Contact Digitart support
                                    </td>
                                    <td rowspan="2" style="vertical-align:top;padding:30px 36px 0 0;text-align:right">
                                            <img src="https://ci4.googleusercontent.com/proxy/9EdTvnuUjIupfiLc4ZkT4K_sEivN4gte0iFvKyyG7lBGS33UsazBWtUuD6Lf1rpx7ZeNgkmW_930r0xF87SAu_GnruRhGP7o6fU=s0-d-e1-ft#https://ticketing.eu.veezi.com/image/barcode/WKNR3T7/80" class="CToWUd" data-bit="iit">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:12px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:20px;color:#3b3b3b;padding:0 36px 0 36px">
                                        <span class="il">Digitart</span> Tunis<br>
                                        Digitart web application<br>
                                        Ariana, Tunisie<br>
                                                                                2013<br>
                                        
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
 
                    <tr>
                        <td style="font-weight:bold;padding:0 36px 0 36px;font-size:12px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:13px;color:#3b3b3b">
                           Thanks for your purchase !
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:12px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:13px;color:#3b3b3b;padding:0 36px 30px 36px">
                            Please&nbsp;bring a copy of this mail to the museum :either print it, or show it on your smartphone! Don't forget the date . Thanks and enjoy your tour!
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;font-size:10px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:13px;color:#3b3b3b;padding:0 36px 0 36px">
                            General Conditions:
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:10px;font-family:Tahoma,Verdana,Segoe,sans-serif;line-height:13px;color:#3b3b3b;padding:0 36px 42px 36px">
                    Thanks for contacting us <a href="http://127.0.0.1:8000/payment/" target="_blank"><span class="il">Digitart</a> for more infos.
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0 13px 13px 13px;text-align:center">
                            <img src="https://cdn.discordapp.com/attachments/1095078227573219358/1101220396738555914/footer.png" alt="This cinema has joined the Veezi revolution" class="CToWUd" data-bit="iit">
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <tr>
            <td align="right" style="padding:3px 3px 3px 0;background-color:#000000">
            </td>
        </tr>
    </tbody></table>
</div>
