
<div class="card">
    <div class="card-header">
         <strong>Add New Artwork </strong> 
     </div>
     <div class="card-body card-block">
                                                        
        {{ form_start(form, {'attr': {'class': 'form', 'enctype': 'multipart/form-data'}}) }}
        <div class="row form-group">
            <div class="col col-md-3"><label for="artworkName-input" class=" form-control-label">artworkName</label></div>
             <div class="col-12 col-md-9">{{ form_widget(form.artworkName) }} <small class="form-text text-muted">This is a help text</small></div>
         </div>
        <div class="row form-group">
             <div class="col col-md-3"><label for="idArtist-input" </label>Artists</div>
            <div class="col-12 col-md-9">{{ form_widget(form.idArtist) }} <small class="form-text text-muted">This is a help text</small></div>
        </div>
        <div class="row form-group">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
             <script>
                $(document).ready(function() {
                $('#form_idArtist').change(function() {
                $('#artistName').val($(this).find(':selected').text());
                });
                });
            </script>
            <div class="col col-md-3"><label for="artistName-input" class=" form-control-label">artistName</label></div>
            <div class="col-12 col-md-9">{{ form_widget(form.artistName) }} <small class="form-text text-muted">This is a help text</small></div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3"><label for="dateArt-input" class=" form-control-label">dateArt</label></div>
            <div class="col-12 col-md-9">{{ form_widget(form.dateArt) }} <small class="form-text text-muted">This is a help text</small></div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3"><label for="description-input" class=" form-control-label">description</label></div>
            <div class="col-12 col-md-9">{{ form_widget(form.description) }} <small class="form-text text-muted">This is a help text</small></div>
        </div>
                                                            
        <div class="row form-group">
            <div class="col col-md-3"><label for="imageArt-input" class=" form-control-label">imageArt</label></div>
            <div class="col-12 col-md-9">{{ form_widget(form.imageArt) }} <small class="form-text text-muted">This is a help text</small></div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3"><label for="idRoom-input" class=" form-control-label">name room</label></div>
            <div class="col-12 col-md-9">{{ form_widget(form.idRoom) }} <small class="form-text text-muted">This is a help text</small></div>
        </div>
        <button class="btn btn-success"><i class="fa fa-save (alias)"></i>&nbsp;{{ button_label|default('Add artwork') }}</button>
        {{ form_end(form) }} 
                                                        
    </div>
        <div class="card-footer">
                                                            
                                                        </div>
                                                


    
 


