{% extends 'back.html.twig' %}

{% block title %}Auction
{% endblock %}

{% block body %}

	<div class="content mt-3">
		<div class="animated fadeIn">
			<div class="row">

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<a class="card-title">
								<H4>More Information About
									<strong>{{auction.artwork.artworkName|upper}}</strong>
									Auction</H4>
							</a>
							<a>Added :
								{{auction.added|date('Y-m-d H:i') }}</a>
							{% if auction.DELETED is  null and auction.added|date('Y-m-d H:i:s') != auction.updated|date('Y-m-d H:i:s') %}
								<br>
								<a>Modified :
									{{auction.updated|date('Y-m-d H:i') }}</a>
							{% endif %}
							{% if auction.DELETED is not null %}
								<br>
								<a>Deleted :
									{{auction.Deleted|date('Y-m-d H:i') }}</a>
							{% endif %}
						</div>
						<div class="card-body">
							<a>
								<H3>
									<strong>{{auction.artwork.artworkName|upper}}</strong>
									{% if auction.DELETED is not null %}
										(DELETED)
									{% endif %}
								</H3>
							</a>
							<br>
							<a>By :
								<strong>
									{{auction.artwork.idArtist.lastname|upper}}
									{{auction.artwork.idArtist.firstname|upper}}
								</strong>
							</a>
							<br>
							<br>
							<a>The starting Price :
								<strong>{{auction.startingPrice}}</strong>
							</a>
							<br>
							<br>
							<a>Increment :
								<strong>{{auction.increment}}</strong>
							</a>
							<br>
							<br>
							<a>Description :
								<strong>{{auction.description}}</strong>
							</a>
							<br>
							<br>


							<a>The Highest Offer :
								<strong>
									{{ highestBid is not null ? highestBid ~ '$' : 'none' }}
								</strong>
							</a>
							<br>
							<br>

							<table id="bootstrap-data-table-export" class="table table-striped table-bordered">
								<thead></thead>
								<thead>
									<tr>
										<th style="width: 10%;">
											Offer
										</th>
										<th style="width: 10%;">
											Date and Time
										</th>
										<th style="width: 8%;">
											Bidder
										</th>
									</tr>
								</thead>

								<tbody>
									{% for bid in bids %}
										<tr>
											<td>{{ bid.offer }}</td>
											<td>{{ bid.date|date('Y-m-d H:i:s') }}</td>
											<td>{{ users[bid.id]|upper }}</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="7">No offers yet</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							{% if auction.DELETED is null %}
								<a target="_blank" href="{{ path('PDF', {'id_auction': auction.idAuction}) }}">Save as PDF</a>
							{% endif %}

						</div>


					</div>
					<a href="{{path('DisplayAuctionBack')}}">Go Back</a>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
