{% extends 'back.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
   <div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Edit Ticket</h1>

        {% for message in app.flashes('error') %}
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Alert</span>
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <section class="card">
    <div class="card-body">
        {{ form_start(form) }}
        <div class="form-group">
            <label class="form-control-label">Date Start Ticket</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                {{ form_widget(form.ticketDate, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <small class="form-text text-muted">ex. 99/99/9999</small>
        </div>
         <div class="form-group">
            <label class="form-control-label">Date End Ticket</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                {{ form_widget(form.ticketEDate, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <small class="form-text text-muted">ex. 99/99/9999</small>
             <div class="alert alert-light" role="alert">
             {{ form_errors(form.ticketEDate) }}
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label">Price</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <small class="form-text text-muted">ex. 20</small>
            <div class="alert alert-light" role="alert">
              {{ form_errors(form.price) }}
              </div>
            </div>
        <div class="form-group">
            <label class="form-control-label">Type</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-th-list"></i></div>
                {{ form_widget(form.ticketType, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <small class="form-text text-muted">ex. Adult</small>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-success btn-sm"><i class="fa fa-floppy-o"></i>&nbsp;{{ button_label|default('Update') }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</section>

        <button type="button" class="btn btn-secondary btn-sm"  onclick="window.location.href='{{ path('app_ticket_index') }}'"><i class="fa fa-mail-reply"></i>&nbsp;Back to list</button>
    </div>
{% endblock %}