<!DOCTYPE html>
<html lang="en">
<head>
	<title>DigitArt Login</title>
    
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
	<style>

    .wrap-login100 {
  width: 800px !important;
  height: 600px !important;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 30px 30px 150px !important;
   }
   .login100-pic {
  width: 440px !important;
  position: relative !important;
  right: 135px !important;
  top: 90px !important;
}
.login100-form {
  width: 290px !important;
  position: relative !important;
  right: 10px !important;
  left: 300px !important;
  bottom: 250px !important;
}
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #BD2A2E !important;
}
.input100:focus + .focus-input100 + .symbol-input100 {
  color: #BD2A2E !important;
  padding-left: 28px !important;
}
.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #BD2A2E !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

a:hover {
	text-decoration: none;
  color: #BD2A2E !important;
}
.login100-form-btn:hover {
  background: #333333 !important;
}
.social-connect-btn {
  font-family: Montserrat-Bold;
  font-size: 10px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: #000000 !important;
  position: relative;
  top: 100px;
  right: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.social-connect-btn:hover {
  background: blue !important;
}
.facebook-connect-btn {
  font-family: Montserrat-Bold;
  font-size: 10px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 150px;
  height: 50px;
  border-radius: 25px;
  background: blue !important;
  position: relative !important;
  bottom: 160px !important;
  left: 370px !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.facebook-connect-btn:hover {
  background: white !important;
  color: blue !important;
}
.container-login100 {
  width: 100% !important;  
  min-height: 100vh !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
  padding: 15px !important;
  background-image: url("login/images/background.jpg") !important;
}
.top-login-form {
  width: 300px !important;
display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
  position: absolute !important;
  left: 980px !important;
  bottom: 700px !important;
}
.position-footer{
  position: relative !important;
  bottom: 100px;
  
}
	</style>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{asset('login/images/icons/favicon.ico')}}">
  <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login/vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login/vendor/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{asset('login/vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('login/css/main.css')}}">
<!--===============================================================================================-->

   {% endblock %}

   {% block javascripts %}
   <!--===============================================================================================-->	
	<script src="{{asset('login/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('login/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{asset('login/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('login/vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('login/vendor/tilt/tilt.jquery.min.js')}}"></script>

  <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->

	<script >
		$('.js-tilt').tilt({
			scale: 1.1 
		})
	</script>
<!--===============================================================================================-->
	<script src="{{asset('login/js/main.js')}}"></script>
{% endblock %}
</head>

{% block body %}
 
<div class="limiter">

		<div class="container-login100">
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    <div class="top-login-form">
  {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
      </div>
               
  {% endfor %}
  {% for message in app.flashes('success') %}
                <div class="success success-danger">
                    {{ message }}
      </div>
               
  {% endfor %}
 {% if error %}
{% if error.messageKey == 'Invalid credentials.' %}
        <div class="alert alert-danger">Email or password incorrect!</div>
    {% else %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endif %}
{% if app.user and app.user.id and app.user.isVerified == true and app.user.status == 'unblocked'%}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    </div>
    
			<div class="wrap-login100">
      
				<div class="login100-pic js-tilt" data-tilt style="will-change: transform !important; transform: perspective(300px) rotateX(0deg) rotateY(0deg) !important;">
					<img src="{{asset('login/images/logo-digitart-rouge.png')}}" alt="IMG">
				</div>
      <form class="login100-form validate-form" method="post">
<div class="container-login100-form-btn">
          
              <span class="login100-form-title">
						Login
					</span> 

    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
	<input class="input100"class="input100" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
		<span class="focus-input100"></span>
			<span class="symbol-input100">
			<i class="fa fa-envelope" aria-hidden="true"></i>
			</span>
	</div>
    
    <div class="wrap-input100 validate-input" data-validate = "Password is required">
	<input class="input100" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Password" required>
		<span class="focus-input100"></span>
		<span class="symbol-input100">
		<i class="fa fa-lock" aria-hidden="true"></i>
			</span>
			</div>

    

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    
						<button class="login100-form-btn" type="submit">
							Login
						</button>

              
					</div>
          
					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="{{path('forgotten_password')}}">
							Password?
						</a>
					</div>



          
          
						 
					

				</form>
        	<div class="text-center">
           <a href="#">
            <button class="social-connect-btn">
							Connect with github
						</button>
            </a>
            </div>
            <div class="text-center">
           <a href="{{path('app_facebook_login')}}">
            <button class="facebook-connect-btn">
							Connect with facebook
						</button>
            </a>
            </div>

					<div class="text-center position-footer">
						<a class="txt2" href="{{path('app_register')}}">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
            </br>
            <a class="txt2" href="{{path('showdigit')}}">
						<i class="fa  fa-chevron-left m-l-5" aria-hidden="true"></i>  
            Return to home	
						</a>
					</div>
                </div>
		</div>
	</div>
{% endblock %}








