{% extends 'security/login.html.twig' %}


{% block body %}
<div class="limiter">
   
   <div class="container-login100">
    <div class="top-login-form">
 
    </div>
    
			<div class="wrap-login100">
      
				<div class="login100-pic js-tilt" data-tilt style="will-change: transform !important; transform: perspective(300px) rotateX(0deg) rotateY(0deg) !important;">
					<img src="{{asset('login/images/logo-digitart-rouge.png')}}" alt="IMG">
				</div>
      <form class="login100-form validate-form" method="post">
<div class="container-login100-form-btn">
          
              <span class="login100-form-title">
						Reset Password
					</span> 
{{ form_start(passForm,{attr:{novalidate:'novalidate'}}) }}
    <div class="wrap-input100 validate-input">
    
    {{ form_row(passForm.password) }}
    
		<span class="focus-input100"></span>
			
	</div>
    
                <button type="submit" class="login100-form-btn">Send</button>
            
   


   

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="{{path('app_register')}}">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
            </br>
            <a class="txt2" href="{{path('app_login')}}">
						<i class="fa  fa-chevron-left m-l-5" aria-hidden="true"></i>  
            Return to login	
						</a>
					</div>
          
						 {{ form_end(passForm) }}
					

				</form>

                </div>
		</div>
	</div>
{% endblock %}








