{% extends 'back.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1><strong>List of Events</strong></h1>

    <div class="mb-3">
         <form action="{{ path('event_search') }}" method="get">
            <div class="input-group">
                <input type="text" class="form-control" id="id" name="id" placeholder="Search by Event Name">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>EventName</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>NbParticipants</th>
                <th>Description</th>
                <th>StartTime</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Image</th>            
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.eventName }}</td>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ event.nbParticipants }} </td>
                <td>{{ event.detail }}</td>
                <td>{{ event.startTime }}h</td>
                <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.updatedAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td><img src="{{ asset('images/' ~ event.image) }}" alt=""></td>
                
                <td>
                    <div class="d-flex">
                        <a class="btn social html5 mr-2" href="{{ path('app_event_show', {'id': event.id}) }}"><i class="fa  fa-eye"></i> Show</a>
                        <a class="btn btn-info " href="{{ path('app_event_edit', {'id': event.id}) }}"><i class="fa fa-pencil-square"></i> Edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('app_event_new') }}"><i class="fa fa-plus-square-o"></i> Create new</a>

{% endblock %}
