{% extends 'back.html.twig' %}

{% block title %}Participants index{% endblock %}

{% block body %}
    <h1>List of Participants</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Adress</th>
                <th>Gender</th>
                <th>ParticipatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.firstName }}</td>
                <td>{{ participant.lastName }}</td>
                <td>{{ participant.adress }}</td>
                <td>{{ participant.gender }}</td>
                <td>{{ participant.createdAt ? participant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn social html5 mr-2" href="{{ path('app_participants_show', {'idUser': app.user.id}) }}"><i class="fa  fa-eye"></i> Show</a>
                    <a class="btn btn-info" href="{{ path('app_participants_edit', {'idUser': app.user.id}) }}"><i class="fa fa-pencil-square"></i> Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark " href="{{ path('app_participants_new') }}"><i class="fa fa-plus-square-o"></i> Create new</a>
{% endblock %}
