{% extends 'back.html.twig' %}

{% block title %}Participants{% endblock %}

{% block body %}
    <h1>Participants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>FirstName</th>
                <td>{{ participant.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ participant.lastName }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ participant.adress }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ participant.gender }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participants_index') }}">back to list</a>

    <a href="{{ path('app_participants_edit', {'idUser': participant.idUser}) }}">edit</a>

    {{ include('participants/_delete_form.html.twig') }}
{% endblock %}
