<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DigitArt{% endblock %}</title>
          <link href="{{asset('Front/assets/img/logo-digitart-rouge.png')}}" rel="icon">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{asset('Front/assets/img/logo-digitart-rouge.png')}}" rel="icon">
        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="favicon.ico">

        <link rel="stylesheet" href="{{asset('Back/vendors/bootstrap/dist/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/font-awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/themify-icons/css/themify-icons.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/flag-icon-css/css/flag-icon.min.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/selectFX/css/cs-skin-elastic.css')}}">
        <link rel="stylesheet" href="{{asset('Back/vendors/jqvmap/dist/jqvmap.min.css')}}">

        <link rel="stylesheet" href="{{asset('Back/assets/css/style.css')}}">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
        <style>
      .widget-content-right {
    position: relative;
    top: 7px;
    right: 15px;
      }
     .color-app{
        color: #BD2A2E;
     }
     img {
  max-width: 100% !important; 
}

        </style>
        {% endblock %}

        {% block javascripts %}
        <script src="{{asset('Back/vendors/jquery/dist/jquery.min.js')}}"></script>
        <script src="{{asset('Back/vendors/popper.js/dist/umd/popper.min.js')}}"></script>
        <script src="{{asset('Back/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('Back/assets/js/main.js')}}"></script>

        <script src="{{asset('Back/vendors/chart.js/dist/Chart.bundle.min.js')}}"></script>
        <script src="{{asset('Back/assets/js/dashboard.js')}}"></script>
        <script src="{{asset('Back/assets/js/widgets.js')}}"></script>
        <script src="{{asset('Back/vendors/jqvmap/dist/jquery.vmap.min.js')}}"></script>
        <script src="{{asset('Back/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')}}"></script>
        <script src="{{asset('Back/vendors/jqvmap/dist/maps/jquery.vmap.world.js')}}"></script>
        <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
                    });
                })(jQuery);
        </script>
        {% endblock %}
        
    </head>
    
    <body>
    {% block leftpanel %} 
         <!-- Left Panel -->

     <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/showback"><img src="{{asset('Back/images/logo_digitart_home.png')}}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{{ path('showbackpage') }}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Modules</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div class="dashtitle-color"><i class="menu-icon fa fa-users"></i>Users Management</div></a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-plus"></i><a href="{{path('app_users_new')}}">Add User</a></li>
                            <li><i class="fa fa-bars"></i><a href="{{path('app_users_index')}}">List of users</a></li>
                           
                            
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-picture-o"></i>Artworks</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="/artwork">Show Artworks</a></li>
                            <li><i class="fa  fa-plus-square"></i><a href="/artwork/new">Add New Artwork</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-building-o"></i>Rooms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="/room">Show Rooms</a></li>
                            <li><i class="fa  fa-plus-square"></i><a href="/room/new">Add New Room</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Event</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="{{path('app_event_index')}}">List Of Events</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="{{path('app_participants_index')}}">List of Participants</a></li>
                        </ul>
                    </li>
                    
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-ticket"></i>Ticket</a>
                        <ul class="sub-menu children dropdown-menu">
                       
                           <li><i class="menu-icon fa fa-list"></i><a href="{{ path('app_ticket_index') }}">Tickets List</a></li>
                           <li><i class="menu-icon fa fa-plus-square"></i><a href="{{ path('app_ticket_new') }}">Add new ticket</a></li>
                            <li><i class="menu-icon fa fa-money"></i><a href="{{ path('app_payment_index') }}">Payment List</a></li>
                             <li><i class="menu-icon fa fa-bar-chart-o"></i><a href="{{ path('app_ticket_stat') }}">Statistics</a></li>
                        </ul>
                    </li>
                   <li class="menu-item-has-children dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="menu-icon fa fa-gavel"></i>Auction</a>
					<ul class="sub-menu children dropdown-menu">
						<li>
							<i class="menu-icon fa fa-shopping-cart"></i>
							<a href="{{path('DisplayAuctionBack')}}">Auction</a>
						</li>
						<li>
							<i class="menu-icon fa fa-plus"></i>
							<a href="{{path('adminAddAUCTION')}}">Add to auction</a>
						</li>
					</ul>
				</li>
				   
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        
                        

                        <div class="dropdown for-message">
                          
                           
                        </div>
                    </div>
                </div>

       
         
                <div class="widget-content-wrapper">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if app.user.image is not null %}
                        <img class="user-avatar rounded-circle" src="{{ asset('/uploads/' ~ app.user.image) }}" alt="Image" width="150">
                        {% else %}
                         <img class="user-avatar rounded-circle" src="{{ asset('Back/images/icon-img.png') }}" alt="Image" width="150">
                        {% endif %}
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="{{path('app_users_showprofile', {'id': app.user.id})}}"><i class="fa fa-user"></i> My Profile</a>


                            <a class="nav-link" href="{{path('app_logout')}}"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                        
                    <div class="user-area dropdown widget-content-right" >
                      <strong class="color-app">  {{app.user.firstname}}   {{app.user.lastname}} </strong>
                    </div>
                 
                </div>
            </div>

        </header><!-- /header -->
        
    {% endblock %}
        
    {% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.firstname }}! ✅</h1>

   Welcome to our Dashboard!
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/venom-1/OneDrive/Documents/Symfonyprojects/FirstProject/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/venom-1/OneDrive/Documents/Symfonyprojects/FirstProject/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>




    




</div>
    {% endblock %}
    </body>
</html>
