<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}DigitArt{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.1.3/dist/css/bootstrap.min.css">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .hero .info .btn-get-started {
    font-family: var(--font-primary) !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    display: inline-block !important;
    padding: 12px 40px !important; 
    border-radius: 50px !important;
    transition: 0.5s !important;
    margin: 10px !important;
    color: #fff !important;
    border: 2px solid var(--color-primary) !important;
}
.login100-form-btn {
  font-family: var(--font-primary);
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

					width: 120%;
					height: 50px;
					border-radius: 25px;
					position: relative !important;
					right: 120px !important;
					background: transparent !important;
					display: -webkit-box;
					display: -webkit-flex;
					display: -moz-box;
					display: -ms-flexbox;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 25px;
					border: 2px solid var(--color-primary) !important;
					-webkit-transition: all 0.4s;
					-o-transition: all 0.4s;
					-moz-transition: all 0.4s;
					transition: all 0.4s;
				}

a:hover {
	text-decoration: none;
  color: #BD2A2E !important;
}
.login100-form-btn:hover {
  background: #BD2A2E !important;
}
button {
    outline: none !important;
    border: none;
    background: transparent;
}
 
    .circle {
					width: 70px !important;
					height: 70px !important;
					border-radius: 50%;
					background-color: #BD2A2E !important;
					position: relative !important;
					top: 30px !important;
					left: 250px !important;
					border: 2px solid var(#BD2A2E);
					color: #fff;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					transform: translateY(-50%);
				}


		.circle-name {
			font-size: 10px;
			position: relative !important;
      top: 2px !important;
      left: 1px !important;
		}
    .user-name {
      font-size: 20px;
      color: #BD2A2E;
			position: relative !important;
      top: 10% !important;
      left: 25% !important;
    }
		.options {
			position: fixed;
			top: 155px !important;
			right: 25px !important;
			transform: translateY(-50%);
			background-color: #000000;
      border-radius: 10% !important;
			box-shadow: 0 4px 6px rgba(0,0,0,.1);
			padding: 10px;
			display: none;
		}

				

		.option:hover {
			color: #BD2A2E;
		}
.circle-image-container {
  width: 80%; /* set the width and height to the desired size */
  height: 80%;
  border-radius: 50%; /* make the container round */
  overflow: hidden; /* hide any parts of the image that exceed the container's boundaries */
  background-size: cover; /* scale the image to cover the container while maintaining its aspect ratio */
  background-position: center center; /* center the image horizontally and vertically within the container */
}
#popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

#popup-message {
  font-size: 18px;
  text-align: center;
}

#popup-message.success {
  color: green;
}

#popup-message.error {
  color: red;
}

</style>
<script>
		function toggleOptions() {
			var options = document.getElementById('options');
			if (options.style.display === 'none') {
				options.style.display = 'block';
			} else {
				options.style.display = 'none';
			}
		}
// Get the success and error messages from Flask
var success_messages = JSON.parse('{{ app.flashes('success')|default('[]') }}');
var error_messages = JSON.parse('{{ app.flashes('error')|default('[]') }}');

// Escape the messages before inserting them into the HTML code
for (var i = 0; i < success_messages.length; i++) {
  success_messages[i] = escape(success_messages[i]);
}
for (var i = 0; i < error_messages.length; i++) {
  error_messages[i] = escape(error_messages[i]);
}

// Display the success message in the popup window
if (success_messages.length > 0) {
  var popup = document.getElementById('popup-message');
  popup.innerHTML = unescape(success_messages[0]);
  popup.classList.add('success');
  document.getElementById('popup-container').style.display = 'block';
}

// Display the error message in the popup window
if (error_messages.length > 0) {
  var popup = document.getElementById('popup-message');
  popup.innerHTML = unescape(error_messages[0]);
  popup.classList.add('error');
  document.getElementById('popup-container').style.display = 'block';
}

    	</script>
      <link href="{{asset('Front/assets/img/logo-digitart-rouge.png')}}" rel="icon">
  
 
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

  <!-- Vendor CSS Files -->
  <link href="{{asset('Front/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('Front/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{asset('Front/assets/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{asset('Front/assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{asset('Front/assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{asset('Front/assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
			<link href="{{asset('Front/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
			<link
			rel="stylesheet" href="{{asset('Front/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css')}}">
			<!-- Template Main CSS File -->
			<link href="{{asset('Front/assets/css/main.css')}}" rel="stylesheet">
		{% endblock %}

{% block javascript %}
{% endblock %}

		{% block javascripts %}
			<!-- Vendor JS Files -->
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
			<script src="{{asset('Front/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
			<script src="{{asset('Front/assets/vendor/aos/aos.js')}}"></script>
			<script src="{{asset('Front/assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
			<script src="{{asset('Front/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
			<script src="{{asset('Front/assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
			<script src="{{asset('Front/assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
			<script src="{{asset('Front/assets/vendor/php-email-form/validate.js')}}"></script>

<!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
<!-- Template Main JS File -->
    <script src="{{asset('Front/assets/js/main.js')}}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

			<script>
				function updateTimer(endingDate, timerId) {
var remainingTime = moment(endingDate).diff(moment(), 'seconds');
var duration = moment.duration(remainingTime, 'seconds');
// Update the timer
if (remainingTime <= 0) { // Auction has ended
document.getElementById(timerId).innerHTML = "Auction has ended";
} else { // Auction is still active
var years = duration.years();
var months = duration.months();
var days = duration.days();
var hours = duration.hours();
var minutes = duration.minutes();
var seconds = duration.seconds();

var timeStr = "";
if (years > 0) {
timeStr += years + "y ";
}
if (months > 0) {
timeStr += months + "mo ";
}
if (days > 0) {
timeStr += days + "d ";
}
if (hours > 0) {
timeStr += hours + "h ";
}
if (minutes > 0) {
timeStr += minutes + "m ";
}
timeStr += seconds + "s";

document.getElementById(timerId).innerHTML = timeStr;
setTimeout(function () {
updateTimer(endingDate, timerId);
}, 1000);
}
}
// Update the timer every second
			</script>

			{% block BID_CONDITION %}{% endblock %}
		{% endblock %}


	</head>

	{% block navbar %}

	<!-- ======= Header ======= -->
	<header id="header" class="header d-flex align-items-center">
		<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

			<a
				href="{{path('showdigit')}}" class="logo d-flex align-items-center">
				<!-- Uncomment the line below if you also wish to use an image logo -->
				<img src="{{asset('Front/assets/img/logo digitart.png')}}" alt="">

			</a>

			<i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
			<i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
			<nav id="navbar" class="navbar">


				<ul>
					<li>
						<a href="{{path('showdigit')}}" {% block homeActive %} class="active" {% endblock %}>

							Home</a>
					</li>
					
					<!-- @formatter:off -->
					<li class="dropdown">
						<a href="{{path('displayAUCTION')}}" {% block auctionActive %} {% endblock %}>
							auction
							{% if app.user is not null  %}

								{% if app.user.role == 'Artist' %}
									<i class="bi bi-chevron-down dropdown-indicator"></i>
								{% endif %}
							{% endif %}
						</a>
						{% if app.user is not null  %}
							{% if app.user.role == 'Artist' %}
								<ul>
									<li><a href="{{path('app_auction_new')}}">Add to Auction</a></li>
								</ul>
							{% endif %}
						{% endif %}

					</li>

					<li>
						<a href="{{ path('app_event_front_index') }}" {% block eventactive %} {% endblock %}>Event</a>
					</li>

					<li>
						<a href="{{path('showfrontartwork')}}" 	
							{% block artworkactive %} {% endblock %}> Artworks</a>
						</li>
						<li class="dropdown active">
							<a href="{{ path('app_payment_new') }}" {% block ticketactive %} {% endblock %}>
								Ticket
								<i class="bi bi-chevron-down dropdown-indicator"></i>
							</a>
							<ul>
								<li><a href="{{ path('app_payment_card') }}">Ticket Added to the card</a></li>
								<li><a href="{{ path('app_payment_CurrentcardHistoryNoUpdate') }}">Ticket History</a></li>
							</ul>

						</li>
						<li>
						<a href="{{path('showteam')}}" {% block Devactive %} {% endblock %} > Developers Team </a>
						</li>
					</ul>
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
         {% for label, messages in app.flashes(['success', 'error']) %}
                            {% for message in messages %}
                            <div id="popup-container">
                             <div id="popup-message">{{ message }}</div>
                              </div>
                            {% endfor %}
                        {% endfor %}
        {% if app.user is not null %}

        {% if app.user.role == 'Subscriber' or app.user.role == 'Artist' %}
         <strong class="user-name">  {{app.user.firstname}}   {{app.user.lastname}} </strong>
         <div class="circle" onclick="toggleOptions()">
         {% if app.user.image is not null %}
		    <img class="circle-image-container" src="{{ asset('/uploads/' ~ app.user.image) }}" alt="Image" width="60">
        {% else %}
        <img class="circle-image-container" src="{{ asset('Back/images/icon-img.png') }}" alt="Image" width="60">
         {% endif %}
	</div>
	<div class="options" id="options">
		<a class="nav-link" href="{{path('app_users_profilefront', {'id': app.user.id}) }}"><div class="option"><i class="fa fa-user"></i> My profile</div></a>
		<a class="nav-link" href="{{path('app_artwork_newfront')}}">
                                    <div class="option">
                                        <i class="fa fa-user"></i>
                                        Add New Artwork</div>
        </a>
		<a class="nav-link" href="{{path('app_logout')}}"><div class="option"><i class="fa fa-power-off"></i>  Logout</div></a>
	</div>
  {% endif %}
  {% endif %}  

				</nav>
				<!-- .navbar -->


    </div>
    {% if app.user is null %}
     <a href="{{path('app_login')}}"><button class="login100-form-btn"><i class="fa fa-sign-in" aria-hidden="true"></i>   Login</button></a>
    {% endif %}
           
  </header><!-- End Header -->
  
  {% endblock %}
  
{% block body %}

<!-- =========================================================== main ================================================== -->
 {% if app.user and app.user.isVerified == false %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				<div class="alert-message">
					<strong>your account is not activated</strong>,resend the <a href="{{ path('resend_verif') }}">activation link</a>
				</div>
			</div>
		{% endif %}
		<!-- ======= Hero Section ======= -->
		<section id="hero" class="hero">

			<div class="info d-flex align-items-center">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6 text-center">
							<h2 data-aos="fade-down">Welcome to
								<span>DigitArt</span>
							</h2>
							<p data-aos="fade-up">DigitArt is a museum management application that simplifies operations, such as artifact management and visitor tracking. It enhances efficiency, visitor experience, and collection preservation through technology.</p>
							<a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get Started</a>
						</div>
					</div>
				</div>
			</div>

			<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

				<div class="carousel-item active" style="background-image: url({{asset('Front/assets/img/front-home/museum0.jpg')}})"></div>
				<div class="carousel-item" style="background-image: url({{asset('Front/assets/img/front-home/museum1.png')}})"></div>
				<div class="carousel-item" style="background-image: url({{asset('Front/assets/img/front-home/museum2.jpg')}})"></div>
				<div class="carousel-item" style="background-image: url({{asset('Front/assets/img/front-home/museum3.jpg')}})"></div>
				<div class="carousel-item" style="background-image: url({{asset('Front/assets/img/front-home/museum4.jpg')}})"></div>

				<a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
				</a>

				<a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
				</a>

			</div>

		</section>
		<!-- End Hero Section -->
{% block main %}

{% endblock %}

		<!-- =========================================================== main ================================================== -->
	{% endblock %}
	{% block footer %}
		<!-- ======= Footer ======= -->
		<footer id="footer" class="footer">

			<div class="footer-content position-relative">
				<div class="container">
					<div class="row">

						<div class="col-lg-4 col-md-6">
							<div class="footer-info">
								<h3>DigitArt</h3>
								<p>
									Ariana Soghra
									<br>
									Ariana , Tunis , Tunisia<br><br>
									<strong>Phone:</strong>
									+216 55 123 123<br>
									<strong>Email:</strong>
									digitart.primes@gmail.com<br>
								</p>
								<div class="social-links d-flex mt-3">
									<a href="#" class="d-flex align-items-center justify-content-center">
										<i class="bi bi-twitter"></i>
									</a>
									<a href="#" class="d-flex align-items-center justify-content-center">
										<i class="bi bi-facebook"></i>
									</a>
									<a href="#" class="d-flex align-items-center justify-content-center">
										<i class="bi bi-instagram"></i>
									</a>
									<a href="#" class="d-flex align-items-center justify-content-center">
										<i class="bi bi-linkedin"></i>
									</a>
								</div>
							</div>
						</div>
						<!-- End footer info column-->

						<div class="col-lg-2 col-md-3 footer-links">
							<h4>Useful Links</h4>
						    <ul>
								<li><a href="{{ path('app_payment_new') }}">Tickets</a></li>
								<li><a href="{{path('displayAUCTION')}}">Auctions</a></li>
								<li><a href="{{ path('app_event_front_index') }}">Events</a></li>
								<li><a href="{{path('showfrontartwork')}}">Artworks</a></li>
							</ul>
						</div>
						<!-- End footer links column-->

						<div class="col-lg-2 col-md-3 footer-links">
							<h4>Our Services</h4>
							 <ul>
								<li><a href="{{ path('app_payment_new') }}">Buy Tickets</a></li>
								<li><a href="{{path('displayAUCTION')}}">View Auctions</a></li>
								<li><a href="{{ path('app_event_front_index') }}">View Events</a></li>
								<li><a href="{{path('showfrontartwork')}}">View Artworks</a></li>
							</ul>
						</div>
						

					</div>
				</div>
			</div>

			<div class="footer-legal text-center position-relative">
				<div class="container">
					<div class="copyright">
						&copy; Copyright
						<strong>
							<span>Primes</span>
						</strong>. All Rights Reserved
					</div>
					<div class="credits">
						<!-- All the links in the footer should remain intact. -->
						<!-- You can delete the links only if you purchased the pro version. -->
						<!-- Licensing information: https://bootstrapmade.com/license/ -->
						<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
						Designed by<a> Primes </a>
					</div>
				</div>
			</div>

		</footer>
		<!-- End Footer -->
	{% endblock %}


</html>
